/* LAYOUT */
body{
  height: 100vh;
}
main{
  padding-top: 80px;
  height: calc(100vh - 80px);
  overflow-y: auto;
  padding-left: 8%;
  background-color: #1F1F1F;
}
.navbar-brand{
  padding: 0;
}
.spotify-navbar-default{
  width: 8%;
  height: calc(100vh - 80px);
  margin-bottom: 0;
  background-color: black;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
}
.container-fluid{
  display: flex;
  flex-direction: column;
}
.navbar-header-top{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar-header-central{
  display: none;
}
.icon-title span{
  display: none;
}
.navbar-header-bottom{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10px;
  margin-top: auto;
}
.navbar-header-orizzontale{
  width: 100%;
  height: 80px;
  background-color: #101010;
  padding-left: 8%;
  padding-right: 15px;
  display: flex;
  flex-shrink: 1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
}
footer{
  width: 100%;
  height: 80px;
}

.play{
  width: 100%;
  height: 80px;
  background-color: #191919;
  position: fixed;
  z-index: 20;
  display: flex;
  flex-direction: row;
}
/* NAVBAR-TOP */

.navbar-header-top a{
  margin-top: 10px;
  height: auto;
}
.fab.fa-spotify{
  color: white;
  font-size: 25px;
}
.fas.fa-home{
  color: white;
  font-size: 20px;
}
.fas.fa-search{
  color: #9E9E9E;
  font-size: 20px;
  font-weight: bold;
}
.library{
  color: #9E9E9E;
  font-size: 20px;
  font-weight: normal;
}
#logo{
  display: none;
}
/* NAVBAR-BOTTOM */

.navbar-header-bottom a{
  margin-top: 15px;
  height: auto;
}
.far.fa-user-circle{
  color: white;
  background-color: #9E9E9E;
  font-size: 23px;
  border-radius: 50%;
}
.fas.fa-arrow-down{
  color: white;
  font-size: 8px;
  border: 1px solid white;
  padding: 2px 3px;
  border-radius: 50%;
}
.profile span{
  display: none;
}
.install p{
  display: none;
}
/* NAVBAR ORIZZONTALE */
button.btn.i-btn-default.navbar-btn{
  color: white;
  font-size: 12px;
  font-weight: 700;
  background-color: #101010;
  border: 1px solid white;
  padding: 8px 20px;
  border-radius: 18px;
}

/* MENU */
.container.menu .col-xs-12{
  height: 90px;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.menu a{
  color: #9E9E9E;
  font-size: 12px;
  font-weight: 700;
  padding: 0 10px;
}
a.active{
  position: relative;
}
/* hr {
  width: 30px;
  border: 2px solid #68D962;
  position: absolute;
  top: 10%;
  left: 13%;
} */
/* .icon-bar{
  color: #68D962;
  width: 20px;
  position: absolute;
  top: 0;
  left: 0;
} */
h1{
  font-size: 24px;
  font-weight: 700;
  color: white;
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 30px;
}
/* PLAYLIST */
.songs img{
  width: 100%;
  height: auto;
  padding: 0 10px;
}
.songs .col-xs-12{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.playlist{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.playlist h4{
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
  height: 35px;
  width: 100%;
  padding: 0 10px;
  display: block;
}
/* FOOTER COLONNA DI SINISTRA  */
.left {
  width: calc(100% / 3);
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.text-song{
  margin-left: 6px;
  width: auto;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: visible;
}
.play img{
  height: 40px;
  width: 40px;
}
.text-song p{
  color: #9E9E9E;
  font-size: 8px;
  margin: 0;
  width: auto;
}
.text-song h4{
  color: white;
  font-size: 10px;
  margin: 0;
  width: auto;
}
.like{
  height: 35px;
  margin-left: 5px;
  color: #9E9E9E;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* FOOTER COLONNA CENTRALE */
.center{
  width: calc(100% / 3);
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.command{
  width: 100%;
  padding: 10px 8px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.far.fa-play-circle{
  font-size: 30px;
}
/* FOOTER RIGHT */
.right{
  width: calc(100% / 3);
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.volumen{
  width: 100%;
  padding: 0 8px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.volumen i{
  padding: 0 8px;
}
.slidecontainer{
  display: flex;
  margin-left: 30px;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
#myRange::before{
  content: "\f028";
  font-family: "Font Awesome 5 Free";
  color: white;
  display: inline-block;
  font-weight: bolder;
  position: absolute;
  top: -2px;
  left: -20px;
}
input[type=range] {
    display: inline-block;
    width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 991px){
  body{
    height: 100vh;
  }
  main{
    padding-top: 80px;
    height: calc(100vh - 80px);
    width: 100%;
    overflow-y: auto;
    padding-left: 30%;
    background-color: #1F1F1F;
  }
  .spotify-navbar-default{
    width: 30%;
  }
  .icon-title{
    width: 100%;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-left: 3px solid green;
  }
  .container-fluid{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .navbar-header-top{
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar-header-central{
    display: block;
    padding-left: 20px;
  }
  .navbar-header-bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-bottom: 10px;
    margin-top: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar-header-orizzontale{
    width: 100%;
    height: 80px;
    background-color: #101010;
    padding-left: 30%;
    padding-right: 15px;
    display: flex;
    flex-shrink: 1;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
  }
  footer{
    width: 100%;
    height: 80px;
  }
  .play{
    width: 100%;
    height: 80px;
    background-color: #191919;
    position: fixed;
    z-index: 20;
    display: flex;
    flex-direction: row;
  }
  /* NAVBAR-TOP */
  .navbar-header-top a{
    margin-top: 10px;
    margin-right: 8px;
    padding-bottom: 5px;
  }
  .fab.fa-spotify{
    display: none;
  }
  .fas.fa-home{
    color: white;
    font-size: 20px;
  }
  .fas.fa-search{
    font-size: 20px;
  }
  .icon-title span{
    display: block;
    padding-top: 12px;
    color: #9E9E9E;
    font-size: 12px;
  }
  .library{
    font-size: 20px;
  }
  #logo{
    height: 35px;
    display: block;
    padding: 0 20px;
    margin-bottom: 20px;
  }
  .icon-spoti{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  /* parte centrale sidebar */
  .navbar-header-central h4{
    color: white;
    font-size: 13px;
  }
  .navbar-header-central i{
    font-size: 15px;
  }
  .navbar-header-central ul{
    list-style: none;
    padding-left: 0;
  }
  .navbar-header-central ul li{
   margin: 8px 0px;
  }
  .navbar-header-central ul li a{
    color: #9E9E9E;
    font-size: 12px;
  }
  .crear-playlist{
    margin-bottom: 15px;
  }
  .crear-playlist button{
    padding: 5px 8px;
    border-radius: 0px;
    opacity: 70%;
  }
  .crear-playlist span{
    color: #9E9E9E;
    padding-left: 5px;
  }
  /* NAVBAR-BOTTOM */
  .navbar-header-bottom a{
    margin-top: 15px;
    padding-left: 15px;
    height: auto;
    width: auto;
  }
  .navbar-header-bottom p{
    display: block;
    color: #9E9E9E;
    width: 200px;
    height: 20px;
    margin: 0 30px;
    padding-top: 17px;
  }
  .profile{
    height: 30px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .navbar-header-bottom span{
    display: block;
    color: white;
    font-size: 23px;
    font-weight: 700;
    width: 100%;
    height: 10px;
    margin-left: 10px;
  }
  .far.fa-user-circle{
    color: white;
    background-color: #9E9E9E;
    font-size: 35px;
    border-radius: 50%;
  }
  .fas.fa-arrow-down{
    color: white;
    font-size: 10px;
    border: 1px solid white;
    padding: 2px 3px;
    border-radius: 50%;
  }
  hr{
    color: #9E9E9E;
    width: 100%;
    margin: 10px 0;
  }
  /* MENU */
  .container{
    width: 100%;
  }
  .menu {
    padding: 0 10%;
  }
  .container.menu .col-xs-12{
    height: 120px;
  }
  .menu a{
    font-size: 15px;
    padding: 0 15px;
  }
  h1{
    padding-left: 10px;
  }
}
